.App {
  text-align: center;
  color : #E7E7E7;
  background-color : #292929;
}

.appHeader {
  background-color: #131313;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E7E7E7;
}

.homeContainer {
  margin-top : 20px;
}

.card {
  border-radius : 10px !important;
}

.row {
  margin : 0px !important;
}

.userCard {
  margin-bottom : 20px;
}

.postContent {
  padding : 10px;
  margin-bottom : 20px;
  background-color : #3a3a3a !important;
}

.profilePic {
  width : 100px;
}

.profilePic > img {
  max-width  : 100%;
  max-height : auto;
  overflow : hidden;
  border-radius : 10px;
}

.profilePic.largerPic {
  width : 200px;
  margin : 10px 0;
}

.picContainer {
  height : 100%;
  margin : auto;
}

.postTitle {
  width : 100%;
}

.btn-def {
  color            : #3a3a3a !important;
  background-color : #E7E7E7 !important;
  border-radius    : 30px      !important;
  cursor           : default;
}

.postTitle > h5 {
  color : white !important;
}

.contentRow {
  width  : 100%;
  margin : auto;
}

.postContentBody {
  padding : 10px;
  text-align : left;
}
